
.DS_Store
__pycache__
.git/

/.env


projects/
projects_simple/

data/
nni_repo/


torchvision_models_output

*.sh
*.sh.o*
*.sh.e*

/ngrok*
/nni_import.py
/train.py
/train_multi_trial.py
/_normal_train.py

